.tictactoe-main-box {
    display: flex;
    flex-flow: row;
    align-content: flex-start;
    justify-content: center;
    margin: 10px;
}

.game-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-right: 10px;
}

.board-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.history-box {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: white;
}

.board-field {
    //background: lightblue;
    border: solid 1px;
    border-radius: 5px;
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.board-field-green {
    background: lawngreen;
    border-radius: 5px;
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.history-btn {
    border: none;
    background: #008CBA;
    color: white;
    padding: 5px, 12px;
    margin: 5px;
}

.history-btn:hover {
    color: black;
}

.history-list {
    display: flex;
    flex-flow: column;
    align-items: center;
}
