.main-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: lightgray;
    display: flex;
    flex-flow: column;
}

.content-box {
    overflow-y: auto;
    height: 94%;
}