.education-main-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 4%;
}

.education-title {
    align-self: flex-start;
    margin-left: 5%;
    color: white;
}

.education-box {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.edu-box {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 10px;
}

.edu-logo-box {
    display: flex;
    flex-flow: row;
    align-self: center;
    background: gray;
    border-radius: 5px;
    margin: 20px;
    overflow: hidden;
}

.edu-logo-box > img {
    height: 200px;
}

.edu-text-box {
    background: gray;
    width: 60%;
    margin: 20px;
    padding: 15px;
    color: white;
    border-radius: 5px;

    background-image: url('./res/edu_img.jpg');
    background-size: cover;
    background-position: center;
}

.edu-text-box > h2 > a {
    color: white;
}