.intro-main-box {
    display: flex;
    flex-flow: column;
    background: gray;
    padding: 15px;
    color: white;

    background-image: url('./res/intro_img3.jpg');
    background-size: cover;
    background-position: center;
}

.intro-info-box {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-img-box {
    display: flex;
    flex-flow: row;
    overflow: hidden;
    margin: 25px;
    margin-right: 7%;
    border-radius: 5px;
    background: white;
    padding: 5px;
}

.intro-img-box > img {
    height: 400px;
}

.intro-details-box {
    display: flex;
    flex-flow: column;
    margin: 25px;
    width: 40%;
}

.name-box {
    font-size: 32px;
}

.position-box {
    font-size: 24px;
    align-self: center;
}

.contact-box {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-self: flex-end;
    margin: 20px;
}

.contact-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 5px;
}

.contact-item > a {
    align-self: center;
    margin: 5px;
    color: white;
}

.contact-icon {
    height: 5vmin;
    background: white;
    border-radius: 5px;
    padding: 10px;
}

.about-box {
    align-self: center;
    text-align: center;
    width: 50%;
    margin: 3%;
    font-size: 24px;
    line-height: 30px;
}
