.projects-main-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 4%;
}

.projects-title {
    align-self: flex-start;
    margin-left: 5%;
    color: white;
}

.projects-box {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.project-box {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background: gray;
    margin: 20px;
    padding: 15px;
    color: white;
    border-radius: 5px;
    width: 25%;
}

.project-box-selected {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    background: gray;
    margin: 20px;
    padding: 15px;
    color: white;
    border-radius: 5px;
}

.project-box > img {
    align-self: center;
    width: 100%;
}

.proj-desc-box > span > a {
    color: white;
}

.proj-desc-box {
    width: 100%;
    align-self: center;
    font-size: 24px;
    line-height: 30px;
}

.proj-cont-box {
    align-self: center;
}

.project-btn {
    align-self: flex-end;
    background-color: #555555;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.project-btn:hover {
    color: lightgray;
}

.project-links-container {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.project-links-icon {
    height: 3vmin;
    background: white;
    border-radius: 2px;
    padding: 2px;
    margin: 5px;
}

.contact-item-info {
    font-size: 18px;
}

.contact-item-info > a {
    color: white;
}

#TicTacToe {
    background-image: url('./res/tictactoe_img.jpeg');
    background-size: cover;
    background-position: center;
}

#Mines {
    background-image: url('./res/mines_img.jpg');
    background-size: cover;
    background-position: center;
}

#CurrencyChecker {
    background-image: url('./res/currencyconverter_img.jpg');
    background-size: cover;
    background-position: center;
}