.projects-main-box {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.projects-title {
    color: grey;
}

.projects-box {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
}

.project-box {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  
    background: gray;
    margin: 20px;
    padding: 15px;
    color: white;
    border-radius: 5px;
}

.project-box-selected {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    background: gray;
    margin: 20px;
    padding: 15px;
    color: white;
    border-radius: 5px;
}

.proj-desc-box {
    width: 250px;
    align-self: center;
}

.proj-cont-box {
    align-self: center;
}

.project-btn {
    align-self: flex-end;
    background-color: #555555;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.project-btn:hover {
    color: gray;
}
